[submodule "FlightControlCenter/submodules/qt-qml-models"]
	path = FlightControlCenter/submodules/qt-qml-models
	url = https://github.com/approximator/Qt-QML-Models.git
[submodule "FlightControlCenter/submodules/qt-super-macros"]
	path = FlightControlCenter/submodules/qt-super-macros
	url = https://github.com/approximator/Qt-Super-Macros.git
[submodule "FlightControlCenter/submodules/qt-qbs-application"]
	path = FlightControlCenter/submodules/qt-qbs-application
	url = https://github.com/approximator/Qt-Qbs-Application.git
